$red = #fd3b2f

$orange = #ff9501

$yellow = #ffcc00

$green = #ffcc00

$lightBlue = #5ac8fb

$blue = #007aff

$purple = #5855d6

$crimson = #ff2c55

$white = #ffffff

$lightestGrey = #f0eff5

$whiteGrey = #e6e5eb

$lighterGrey = #d2d1d7

$lightGrey = #c8c7cd

$grey = #8f8e94

$black = #000000