@import "./../Common/Styles/reset.styl"

html
    font-size 10px

html, body, #root
    height 100%
    font-face 
        font-family: "San Francisco";
        font-weight: 750;
        src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");


body
    -webkit-font-smoothing antialiased
    -webkit-text-size-adjust 100%
    

    font-family $font-main

    background-color $background

.menu
    display flex

    padding 20px

    & a
        display inline-block

        font-size 1.6rem

        color #fff

        text-decoration none

        padding-left 10px
        padding-right 10px

.wrapper
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr