@import "../../Common/Styles/color_palette.styl"

.navbar
    position relative
    grid-template-columns: 200px
    padding: 5px
    width 1fr
    background-color $purple
    
.navbar_menu__option
    padding: 10px 5px
    float: left