@import "../../Common/Styles/color_palette.styl"

.navbar
    position relative
    padding: 5px
    width 3fr
    background-color $purple
    height 100vh
    
.navbar_menu__option
    padding: 10px 5px
    float: left